name: dotnet package

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, develop]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ASPNETCORE_ENVIRONMENT: Development
    strategy:
      matrix:
        dotnet-version: ["6.0.x"]
        redis-version: ["6"]

    steps:
        - name: Git checkout
          uses: actions/checkout@v2
        
        - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
          uses: actions/setup-dotnet@v1.7.2
          with:
            dotnet-version: ${{matrix.dotnet-version}}
            include-prerelease: true

        - name: Clean project
          run: dotnet clean MeAgendaAi.sln

        - name: Install dependencies
          run: dotnet restore MeAgendaAi.sln

        - name: Build
          run: dotnet build MeAgendaAi.sln --configuration Release --no-restore

        - name: Initialize docker (Docker-compose)
          run: docker-compose up -d --build

        #- name: Start Redis
        #  uses: supercharge/redis-github-action@1.4.0
        #  with:
        #    redis-version: ${{ matrix.redis-version }}
        #    redis-container-name: "redis-meagendaai-test"

        - name: Test
          run: dotnet test MeAgendaAi.sln --no-restore --verbosity normal
